asgiref
attrs
build
CacheControl
certifi
charset-normalizer
cleo
colorama
crashtest
crispy-bootstrap4
distlib
dj-database-url
django-crispy-forms
django-environ
dulwich
filelock
gunicorn
html5lib
idna
importlib-metadata
installer
jaraco.classes
jsonschema
jsonschema-specifications
keyring
lockfile
more-itertools
msgpack
packaging
pdfkit
pexpect
Pillow
pip
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
psycopg2
psycopg2-binary
ptyprocess
pypng
pyproject_hooks
pywin32-ctypes
qrcode
rapidfuzz
referencing
reportlab
requests
requests-toolbelt
rpds-py
setuptools
shellinghampost
six
sqlparse
tomlkit
trove-classifiers
typing_extensions
tzdata
urllib3
virtualenv
webencodings
wheel
whitenoise
xlwt
zipp
django-simple-history
python-decouple
django-import-export
Django